<head>
  <title>flask + docker_compose demo</title>
</head>

{% for message in messages %}
<div>
  <div><strong>{{ message.title }}</strong></div>
  <div>{{ message.body }}</div>
</div>
<hr />
{% endfor %}

<form action="{{ url_for('home') }}" method="POST">

<table>
  <tr><td>title</td><td><input name="message_title" /></td></tr>
  <tr><td>body</td><td><textarea name="message_body" rows="3"></textarea></td></tr>
  <tr><td></td><td><button type="submit" class="btn btn-primary">Submit</button></td></tr>
</form>
